<div class="container text-center ">
    <h1>About page</h1>
    <p> We are DevMatch. Our company focuses on creating an exclusive community
      for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, neque, culpa reiciendis delectus amet impedit incidunt quasi similique tenetur est. Commodi, distinctio, dolore vitae voluptatum ullam minus provident rerum earum.</p>
</div>